apiVersion: v1
kind: PersistentVolume
metadata:
  name: traefik-letsencrypt-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /var/lib/odoo-storage/traefik
    type: DirectoryOrCreate
